$breakpoint: 700px;

.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 10px;
  &-Title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-right: 80px;
  }
}
.ChangeLocationButton {
  border-radius: 5px;
  color:cadetblue;
  background-color: #c0e6e4;
  padding: 8px 30px;
  &_mobile {
    display: none;
    background-color: #c0e6e4;
    background-image: url("./two-circular-arrows.png");
    background-size: cover;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: $breakpoint) {
  .ChangeLocationButton {
    display: none;
    &_mobile {
      display: block;
    }
  }
}

.Current {
  display: flex;
  justify-content: space-between;
  &-Title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }
  &-Temperature {
    font-size: 70px;
    font-weight: 500;
  }
  &-WeatherIcon {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: $breakpoint) {
  .Current {
    flex-direction: column;
    &-MainInfo {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.WeatherDetails{
  color: white;
  display: flex;
  flex-direction: column;
  &-Item {
    background-color: cadetblue;
    padding: 7px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  &-ItemTitle {
    font-weight: 400;
    margin-right: 20px;
  }
}

.Selected {
  &-Header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  &-Title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  &-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: $breakpoint) {
  .Selected {
    &-Header {
      flex-direction: column;
      margin-bottom: 20px;
    }
    &-Title {
      margin-bottom: 10px;
    }
    &-List {
      flex-direction: column;
    }
  }
}

.AddNewCity {
  &-Input {
    box-sizing: border-box;
    padding: 5px;
    width: 200px;
    height: 28px;
    border: 2px solid cadetblue;
    border-radius: 10px;
    margin-right: 15px;
  }
}
@media (max-width: $breakpoint) {
  .AddNewCity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-Input {
      width: 100%;
      margin-right: 50px
    }
  }
}

.CityWeather {
  margin-bottom: 20px;
  &-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &-HeaderInfo {
    display: flex;
  }
  &-Title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-right: 20px;
  }
  &-Temperature {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-right: 10px;
  }
  &-WeatherIcon {
    width: 25px;
    height: 25px;
  }
}

.IconButton {
  border-radius: 100%;
  background-color: cadetblue;
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  color: white;
  font-size: 20px;
}

@media (max-width: $breakpoint) {
  .IconButton {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
  }
}
